/* hi */

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #1a0f0e;
  color: #e6e6e6;
  font-size: 14px;
  font-family: 'Rubik';
}
